<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NCCS - SOAR</title>
</head>

<body>
    <link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <header class="header">
        <div class="topnav" id="myTopnav">
            <span class="title">NCCS - SOAR</span>
            <div class="navleft">
                <a href="/" class="active">Home</a>
                <a href="/playbook_logs/all">Playbook Logs</a>
                <a href="javascript:void(0);" class="icon" onclick="navFunction()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </div>
    </header>

    <script>
        function navFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>